<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <!-- Material You Favorite Wallpaper Widget (4x2) -->
        <receiver
            android:name=".FavoriteWallpaperWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wallsafe.widget.action.FAV_NEXT" />
                <action android:name="com.wallsafe.widget.action.FAV_APPLY" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>
    </application>
</manifest>
